<%- include('partials/admin/header.ejs') %> 


<div id='config'>
    <p>Configurações Gerais do WebGENTE</p>

    <form action="/config" method="post">
        <div class="form-group">
            <label for="serverHost">Endereço do endpoint do Servidor de Mapas</label>
            <input type="text" class="form-control" id="serverHost" name="serverHost" value='<%=serverHost%>'>
        </div>
        <div class="form-group">
            <label for="serverUser">Usuário no Servidor de Mapas (alteração neste parâmetro exige um restart do sistema)</label>
            <input type="text" class="form-control" id="serverUser" name="serverUser" value='<%=serverUser%>'>
        </div>
        <div class="form-group">
            <label for="serverPassword">Senha do Usuário no Servidor de Mapas (alteração neste parâmetro exigem um restart do sistema)</label>
            <input type="password" class="form-control" id="serverPassword" name="serverPassword" value='<%=serverPassword%>'>
        </div>
        <div class="form-group">
            <label for="startupLat">Latitude de Inicialização</label>
            <input type="number" class="form-control" id="startupLat" name="startupLat" value='<%=startupLat%>'>
        </div>
        <div class="form-group">
            <label for="startupLong">Longitude de Inicialização</label>
            <input type="number" class="form-control" id="startupLong" name="startupLong" value='<%=startupLong%>'>
        </div>
        <div class="form-group">
            <label for="startupZoom">Zoom de Inicialização</label>
            <input type="number" class="form-control" id="startupZoom" name="startupZoom" value='<%=startupZoom%>'>
        </div>
        <button class="btn btn-dark" type='submit'>Salvar</button>
    </form>

    <script>
        //TODO: Verificar se o usuario e senha do geoserver servem antes do submit!
    </script>
</div>

<%- include('partials/admin/footer.ejs') %> 