<%- include('partials/header.ejs') %> 

<body>
    <%- include('partials/navbar.ejs') %> 
    <div id="map">
        <div id="search" class="container col-3 col-sm-4 col-lg-4 leaflet-top leaflet-left webgente-search-container "></div>
        <div id='webgente-legend-container' class='leaflet-bottom leaflet-right webgente-legend-container'>
        </div>
    </div>
</body>

<script>
    var initView = {
        lat: '<%=startupLat%>', // Latitude Inicial
        lng: '<%=startupLong%>', // Longitude Inicial
        zoom: '<%=startupZoom%>' // Zoom Inicial
    };
</script>

<%- include('partials/footer.ejs') %> 